.envrc
/boot/genesis/keystore
/contract/build/
/run/data/miner
/run/data/syncer
/node_modules
*.dmlog
*.log
*.json
!oracle.dmlog
!oracle.json
!boot/genesis/genesis.log
!boot/genesis.json
!boot/static-nodes.json