node_modules
.env
.envrc

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

scripts/.firehose-data
scripts/optimism/op-chain
scripts/optimism/op-node-db

# E2E test repository (cloned by polygon-bridge script)
polygon-e2e-tests/
